.login-container{
	width:100vw;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 0%;
    .login-content{
    	padding: 16px;
    	margin: 16px;
    	.login-card{
    		.login-input{
    			display: block;
    			min-width: 240px;
    			@media screen and (min-width: 720px) {
			        min-width: 480px;
			    }
			    
    		}
    		.create-login{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			    margin: 20px 0 10px;
				div{
				    margin: 30px 20px;
				    text-decoration: underline;
				    cursor: pointer;
				}
    		}
    	}
    }
}